*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(229, 24%, 87%);
}

/* container */
.container {
    display: flex;
    margin-left: 25%;
    margin-top: 10%;
    width: 920px;
    min-height: 600px;
    border-radius: 15px;
    background-color: white;
    padding: 1em;
}

/* side section */
.side-section{
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    color: white;
}

aside{
    margin-left: 2em;
    margin-top: 3em;
}

.step{
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
    /* justify-content: center; */
    align-items: center;
}



.stepBtn{ 
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid white;
    /* background-color: hsl(213, 96%, 18%); */
    justify-content: center;
    align-items: center;
}

.stepBtn:hover{
    background-color: hsl(206, 94%, 87%);
    color: black;
    transition: .5s;
    border: none;
    cursor: pointer;

}

/* //////////////////////////////////////////// */
/* Main content section */
.main-content{
    margin-top: 4em;
}

.header{
    margin-bottom: 1.25em;
}

.header h2{
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1.5em;
    height: 3em;
}

.btn{
    display: flex;
    margin-top: 6em;
}

button{
    min-width: 170px;
    min-height: 50px;
    border-radius: 15px;
    color: white;
    text-align: center;
    bottom: 0;
    right: 0;
}

button:hover{
    cursor: pointer;
}

/* Next button */
.next{
    background-color: hsl(213, 96%, 18%);
    color: white;
    text-align: center;
    
}

/* Back button */
.back{
    color: black;
    text-align: center;
    border: none;
}

.back:hover{
    background-color: hsl(354, 84%, 57%);
    color: white;
    transform: .5s;
}

/* Submit Button */
.submit{
    background-color: hsl(206, 94%, 87%);
    color: black;
    border: none;
    transform: .5s;
}

.submit:hover{
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.hidden {
    display: none;
}

/* Step2 Container */
.plans{
    display: flex;
    gap: 1em;
}

.plancontainer{
    height: 170px;
    width: 150px;
    border-radius: 15px;
    padding: 1em;
    border: 1px solid hsl(231, 11%, 63%);
}

.plancontainer:hover{
    border: 1px solid hsl(213, 96%, 18%);
    cursor: pointer;
}

.step-2-container img{
    width: 28px;
    margin-bottom: 2.75em;
}

/* Toggle section */
.subscriptionToggle{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

/* section 2 footer */

.footer{
    display: flex;
    margin-top: 7em;
    align-items: end;
    justify-content: space-between;
}

/* Step 3 */
.step-3-container{
    margin-left: 4em;
    width: 100%;
}

.addonSelect{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.choice{
    width: 100%;
    min-height: 3.25em;
    border-radius: 15px;
    border: 1px solid hsl(213, 96%, 18%);
    display: flex;
    padding: 1.25em;
    text-align: center;
    place-content: center;
    justify-content: space-between;
}

.specs, .check, .prize{
    margin-top: 1em;
}

.specs{
    text-align: left;
}

.prize, .check{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Step 4 container */
.summary{
    background-color: hsl(229, 24%, 87%);
    border-radius: 15px;
    padding: 1.5em;
    width: 100%;
}

.top {
    display:flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.bottom {
    margin-top: 1em;
}

.total{
    margin: 1em;
}

.top ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
}

ul{
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style-type: none;
}

.totalCash{
    color: hsl(213, 96%, 18%);
    font-size: 24px;
    font-weight: bolder;
}

.change{
    text-decoration: underline;
}