*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(229, 24%, 87%);
}

/* container */
.container {
    display: flex;
    margin-left: 25%;
    margin-top: 10%;
    width: 920px;
    min-height: 600px;
    border-radius: 15px;
    background-color: white;
    padding: 1em;
}

/* side section */
.side-section{
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    color: white;
}

aside{
    margin-left: 2em;
    margin-top: 3em;
}

.step{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    /* justify-content: center; */
    align-items: center;
}

.stepBtn{ 
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid white;
    /* background-color: hsl(213, 96%, 18%); */
    justify-content: center;
    align-items: center;
}

.stepBtn:hover{
    background-color: hsl(206, 94%, 87%);
    color: black;
    transition: .5s;
    border: none;
}