@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-color: hsl(0, 0%, 86%);
}

span{
    color: hsl(259, 100%, 65%);
}


.container {
    max-width: 570px;
    min-height: 450px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 10%;
    margin-left: 15%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 45%;
    padding: 2em;
}

/* Birth-date input */
.inputField {
    display: flex;
    gap: 1.25em;
}

input{
    min-width: 3.5em;
    min-height: 3em;
    text-align: center;
    font-weight: bolder;
    font-size: .75em;
}

ul li{
    list-style-type: none;
    display: flex;
}

/* line */
.line{
    margin-top: 3.5em;
    display: flex;
    justify-content: space-between;
} 

.h-line{
    width: 80%;
    height: .04em;
    color: black;
}

/* Age display */
.ageDisplay{
    font-size: 4em;
    font-style: italic;
}

/* Check Age button */
.check-age{
    padding: .5em;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    right: 0;
    width: 26px;
    color: white;
}

.check-age:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: hsl(0, 0%, 8%);
}